
@import '~variable.scss';

.card {
  width: $cell-width;
  height: $cell-height;
  border-radius: 10px;
  background: white;
  border: 1px solid grey;
  margin-left: -5px;
  margin-top: -5px;

  .suit {
      position: absolute;
      text-align: center;
      line-height: .8rem;
      img {
          width: 1vw;
          height: 1vw;
      }
      &.top {
          top: .4vw;
          left: .2vw;
      }
      &.bottom {
          bottom: .4vw;
          right: .3vw;
          transform-origin: 0.5;
          transform: rotate(180deg);
      }
  }
}
